body{
    width: 40%;
    font-size: 150%;
    margin: auto;
    margin-top: 10%;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding-left:10px;
    padding-right: 10px;
}

td{
    text-align: left;
}
  