body {
    background-color: #A91B2A;
    font-family: 'Asar', serif;
    color: white !important;
}

.big-container {
    max-width: 1400px;
    margin: 0;
}

/*Logo*/
.navbar-brand svg { width: 70%; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: rgb(244, 173, 41);
}

/*Header-Menu*/
.sidenav {
    height: 200%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 198%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,.sidenav a.active {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navb {
    display: flex;
}

.image-col {
    display: flex;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.dessert {
    width: 40%;
}
.image {
    width: 40%;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-right: 50px;
}
#j-img {
    display: none;
    background-color: #FFE5F8;
}
#j-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#f-img {
    display: none;
    background-color: rgba(9, 8, 8, 0.44);
}
#f-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#i-img {
    display: none;
    background-color: #ECD2C0;
}
#i-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#c-img {
    display: none;
    background-color: #A91B2A;
}
#c-dessert {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
#j-dessert a{
    font-size: 176%;
}
#f-dessert a{
    font-size: 176%;
}
#i-dessert a{
    font-size: 176%;
}
#c-dessert a{
    font-size: 176%;
}


/*3 dessert for china*/
.container {
    max-width: 1400px;
    margin: 0;
    padding: 0;
}

.time-line {
    z-index: 10;
    padding-right: 0%;
}

.title-line img {
    width: 100%;
}

/*dragon beard candy*/
.container1 {
    background-image: url("../images/c_dragonbc_bgimg.png");
}

/*sugar coated haws*/
.container2 {
    background-image: url("../images/c_sugarch_bgimg.png");
}

/*yang zhi gao lu*/
.container3 {
    background-image: url("../images/c_yangzgl_bgimg.png");
}

#dessert3 {
    position: relative;
    padding-bottom: 15%;
}

#dessert3 .see-more-btn {
    position: absolute;
    top: 56%;
    left: 40%;
    width: 15%;
}

#dessert3 .see-more-btn2 {
    top: 55%;
}

/*2 or 3 dessert*/
.container1, .container2, .container3 {
    background-size:90%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#dessert1, #dessert2 {
    position: relative;
    padding-bottom: 10%;
}

#dessert {
    margin-left: 0%;
    margin-right: 0%;
    justify-content: space-between;
}

h1 {
    font-size: 240%;
    color: white;
}

p {
    font-size: 120%;
    color: white;
}

.content1 {
    padding: 0%;
}

.story {
    margin-top: 16px;
    margin-left: 48px;
}

.b-content2 p,
.b-content3 p, .b-content4 p {
    font-size: 100%;
    margin-left: 50px;
}

.b-content2 p,
.b-content3 p {
    margin-top: 30%;
}

.b-content4 p { 
    margin-top: 40%;
}

a {
    font-size: 145%;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#list-example,
#list-example2, #list-example3 {
    margin-top: 120%;
}

.list-group{
    --bs-list-group-active-bg:none;
    --bs-list-group-active-border-color:none;
    --bs-list-group-border-color:black;
    --bs-list-group-bg:none;
    --bs-list-group-active-color:none;
    --bs-list-group-disabled-bg:none;
}

.list-group a:hover {
    background-color:rgb(91, 7, 16);
}

#c_dragonbc,
#c_sugarch, #c_yangzgl {
    padding: 0%;
}

.flag-name {
    margin-left: 10px;
}

.name {
    margin-left: 20px;
}

.phone-dessert-img {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
}

.see-more-btn {
    position: absolute;
    top: 63%;
    left: 40%;
    width: 15%;
}

.see-more-btn2 {
    position: absolute;
    top: 63%;
    left: 38%;
    width: 20%;
    display: none;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}


/*Footer*/
.footer {
    background-color: #4C4751;
    position: relative;
    padding-top: 5%;
}

.footer .design {
    padding-left:10%;
}
.footer a {
    background: linear-gradient(0deg, white, white) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}


.footer a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.underline {
    padding-bottom: 2px;
    --bg-h: 2px !important;
}

.f-title-font h4{
    font-size: 150%;
}

.footer a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    font-size: 108% !important;
    line-height: 155%;
}

/*Footer-Logo*/
svg { width: 100%; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: white;
}
.footer .flogo{
    position: absolute;
    bottom: 65%;
    width: 90%;
    left: 5%;
}
.footer .noHover a{
    background: linear-gradient(0deg, 0deg, 0deg) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

.f-p {
    padding-left: 9% !important;
    padding-right: 2% !important;
}

.f-p-end {
    padding-right: 8% !important;
}


/*Responsive-Mobile*/
@media screen and (max-width:767px) {
    /*Footer*/
    .footer img{
        bottom: 95%;
        width: 20%;
    }
    .footer .design {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .footer .japan, .france, .italy, .china {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .f-p {
        text-align: center;
        padding-left: 0 !important;
        padding-top: 15%;
    }
    .f-m-change {
        text-align: center;
        padding-left: 24% !important;
        padding-right: 24% !important;
    }
    .f-m-space {
        margin-top: 2%;
    }

    /*Footer-Logo*/
    .footer .flogo{
        bottom: 88%;
        left: 10%;
    }
    svg { width: 85%; }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1264px wide or less)*/
@media screen and (max-width: 1264px) {
    .b-content2 p,
    .b-content3 p, .b-content4 p {
        font-size: 90%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1180px wide or less)*/
@media screen and (max-width: 1180px) {
    .see-more-btn {
        display: none;
    }

    .see-more-btn2 {
        display: block;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1171px wide or less)*/
@media screen and (max-width: 1171px) {
    .b-content2 p, .b-content3 p, .b-content4 p {
        font-size: 85%;
    }

    #dessert1, #dessert2, #dessert3 {
        padding-bottom: 18%;
    }

    /*dragon beard candy*/
    .b-content2 p {
        margin-top: 25%;
    }
    
    #dessert1 .see-more-btn2 {
        top: 63%;
    }

    /*sugar-coated haws*/
    #dessert2 .see-more-btn2 {
        top: 65%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 40%;
    }

    #dessert3 .see-more-btn2 {
        top: 59%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1133px wide or less)*/
@media screen and (max-width: 1133px) {
    h1 {
        font-size: 220%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1055px wide or less)*/
@media screen and (max-width: 1055px) {
    h1 {
        font-size: 220%;
        margin-top: 1%;
    }
    
    .flag {
        margin-right: 3%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1046px wide or less)*/
@media screen and (max-width: 1046px) {
    h1 {
        font-size: 200%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1028px wide or less)*/
@media screen and (max-width: 1028px) {
    .b-content4 p {
        margin-top: 35%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1000px wide or less)*/
@media screen and (max-width: 1000px) {
    #dessert1 .see-more-btn2 .see-more-btn2 {
        top: 66%;
    }

    #dessert1, #dessert2 {
        padding-bottom: 20%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (995px wide or less)*/
@media screen and (max-width: 995px) {
    #dessert1 .see-more-btn2 {
        top: 66%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (960px wide or less)*/
@media screen and (max-width: 960px) {
    h1 {
        font-size: 180%;
    }

    .b-content2 p, .b-content3 p, .b-content4 p {
        font-size: 85%;
    }

    .b-content2 p {
        margin-top: 15%;
    }

    #dessert3 {
        padding-bottom: 20%;
    }

    .list-group-item img {
        width: 120%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 35%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (935px wide or less)*/
@media screen and (max-width: 935px) {
    p {
        font-size: 110%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (883px wide or less)*/
@media screen and (max-width: 883px) {
    h1 {
        font-size: 150%;
        margin-top: 4%;
        margin-left: 2%;
    }

    .b-content2 p, .b-content3 p, .b-content4 p {
        font-size: 70%;
    }

    .see-more-btn2 {
        width: 30%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (860px wide or less)*/
@media screen and (max-width: 860px) {
    p {
        font-size: 100%;
    }

    .b-content4 p {
        margin-top: 30%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (806px wide or less)*/
@media screen and (max-width: 806px) {
    .b-content2 p, .b-content3 p, .b-content4 p {
        font-size: 65%;
    }

    .b-content2 p {
        margin-top: 13%;
    }

    /*sugar coated haws*/
    .b-content3 p{
        margin-top: 15%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (770px wide or less)*/
@media screen and (max-width: 770px) {
    .time-line {
        padding-left: 0;
    }

    p {
        font-size: 90%;
    }

    #dessert1, #dessert2, #dessert3 {
        padding-bottom: 20%;
    }

    #dessert2 .see-more-btn2 {
        top: 65%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (730px wide or less)*/
@media screen and (max-width: 730px) {
    h1 {
        font-size: 140%;
        margin-top: 5%;
    }

    .b-content2 p {
        font-size: 55%;
        margin-top: 10%;
    }

    /*sugar coated haws*/
    .b-content3 p {
        font-size: 55%;
        margin-top: 15%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (715px wide or less)*/
@media screen and (max-width: 715px) {
    .name {
        padding-left: 20px;
        margin-top:3px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (633px wide or less)*/
@media screen and (max-width: 633px) {
    h1 {
        font-size: 120%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (593px wide or less)*/
@media screen and (max-width: 593px) {
    #dessert {
        display: flex;
        justify-content: center;
    }

    #dessert1,
    #dessert2 {
        display: flex;
        flex-direction: column;
        padding-bottom: 15%;
    }

    #dessert3 {
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
    }

    .flag-name {
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flag {
        margin-left: 0%;
        padding: 0%;
    }

    h1 {
        font-size: 150%;
        text-align: center;
    }

    .story {
        margin: 20px;
    }

    .time-line {
        display: none;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .desktop-dessert-img {
        display: none;
    }

    .phone-dessert-img {
        display: block;
    }

    .see-more-btn2 {
        width: 50%;
    }

    #dessert1 .see-more-btn2, #dessert2 .see-more-btn2 {
        top: 80%;
    }

    #dessert3 .see-more-btn2 {
        top: 75%;
    }

    /*sugar coated haws*/
    .b-content3 p {
        margin-top: 15%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 20%;
    }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (414px wide or less)*/
@media screen and (max-width: 414px) {
    h1 {
        padding-right: 40px;
    }

    .time-line img {
        padding-right: 0px;
    }

    .b-content2 p, .b-content3 p, .b-content4 p {
        margin-left: 30%;
    }

    .b-content2 p {
        margin-top: 25%;
    }

    .content1 {
        padding: 0%;
    }

    .product-making .row {
        margin: 0%;
    }
    
    .b-content3 p {
        margin-top: 35%;
    }
    
    .flag-name {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        text-align: center;
    }

    .see-more-btn2 {
        width: 50%;
        left: 40%;
    }

    .story p {
        padding-right: 20px;
    }

    .phone-dessert-img {
        padding-right: 25px;
    }
}