.header1 { grid-area: logo; }
.header2 { grid-area: phone; }
.menu3 { grid-area: menu; }
.images4 { grid-area: images; }
.images5 { grid-area: feat1; }
.images6 { grid-area: feat2; }
.images7 { grid-area: feat3; }
.images8 { grid-area: feat4; }
.text9 { grid-area: textcontent; }
.side10 { grid-area: sidebar; }
.footer11 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo logo phone phone phone phone phone'
    'menu menu menu menu menu menu menu menu'
    'images images images images images images images images'
    'images images images images images images images images'
    'feat1 feat1 feat2 feat2 feat3 feat3 feat4 feat4'
    'textcontent textcontent textcontent textcontent textcontent sidebar sidebar sidebar'
    'textcontent textcontent textcontent textcontent textcontent sidebar sidebar sidebar'
    'footer footer footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}