body{
    font-family: 'Asar', serif;
}
ul {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

ul::before {
    height: 133%;
    width: 133%;
    display: block;
    position: absolute;
    top: -18%;
    left: 10px;
}

li {
    margin: 28px 0;
    color: lightblue;
    font-weight: bold;
    overflow: hidden;
}

li::before {
    height: 20px;
    width: 20px;
    content: "";
    display: inline-block;
    background-color: lightblue;
    border-radius: 50%;
    position: relative;
    top: 4px;
    margin-right: 6px;
}

li span {
    position: relative;
    left: -100%;
    transition: left 300ms ease-in;
}

li:hover span {
    left: 0;
}