#container {
    font-family: 'Noto Serif SC', serif;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

body {
    margin: auto;
    background-color: #FFFDF8;
}

/* logo */
.logo1 {
    height: 120px;
    background-image: url("../images/resizedlogo.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 23px;
}

/* menu bar */
.menu1 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 65px;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #6A6A6A;
}

.menu1 .icon {
    display: none;
}

i {
    color: #eee;
}

.menu1 a {
    text-decoration: none;
    color: #54410C;
    padding: 20px 30px;
}

.menu1 a.active {
    /*告诉我们现在在哪里*/
    background-color: #aa4904db;
    color: antiquewhite;
}

.menu1 a:hover {
    color: antiquewhite;
    background-color: burlywood;
}

/* menu2 */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #322707;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: burlywood;
}

.overlay h1 {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* 主题简介 */
.introduction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.intro1 {
    width: 50%;
    color: #414840;
}

.intro2 img {
    height: 600px;
    border-radius: 500px 500px 0px 0px;
}

/* back to top btn */
.btn {
    position: fixed;
    right: 70px;
    border: none;
    bottom: 20px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0px;
}

.btn:hover {
    box-shadow: 0 0px 20px 0 #a27e19, 0 0px 9px 0 #ffffff;
}

/* 牧羊人的故事 */
.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 890px;
    background-color: #322707;
    color: white;
    margin-top: 20px;
}

.story1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pic1 img {
    width: 100%;
    height: 354px;
}

.content {
    width: 40%;
}

.story2 {
    margin-top: 80px;
}

.story2 img {
    width: 100%;
}

/* 咖啡贸易 */
.business {
    display: flex;
    flex-direction: column;
    color: #414840;
    margin-top: 20px;
}

.business1 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.business1 h1 {
    margin-bottom: 0px;
}

.business2 {
    display: flex;
    justify-content: space-around;
}

.description {
    width: 41%;
}

.countries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c1 {
    display: flex;
    width: 630px;
    border-bottom: 2px solid rgb(183, 181, 181);
    padding-bottom: 8px;
}

.c1 img {
    width: 200px;
    height: 151px;
}

.ctext {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.ctext h3 {
    margin-bottom: 0px;
    margin-top: 2px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #322707;
    color: white;
    margin-top: 30px;
    padding-bottom: 20px;
}

.footer img {
    margin-top: 20px;
}

.contact {
    margin-top: 10px;
}

.contact p {
    display: flex;
    text-align: left;
    margin: 2px;
    align-items: flex-end;
}

.contact a {
    text-decoration: none;
    color: white;
}

.contact a:hover {
    color: rgb(164, 218, 164);
}

.footer1 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/* tablet screen size */
@media screen and (max-width: 700px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 90px;
    }

    .menu1 {
        flex-direction: column;
    }

    .menu1 a:not(:nth-child(2)) {
        display: none;
    }

    .menu1 a.icon {
        display: block;
        position: absolute;
        right: 0;
    }

    .menu1.responsive a {
        display: block;
    }

    .introduction{
        flex-direction: column;
    }

    .intro1{
        width: 75%;
        margin-bottom: 20px;
    }

    .story {
        height: 1100px;
        margin: auto;
    }

    .story1 {
        flex-direction: column;
    }

    .story1 img{
        width: 100%;
    }

    .content {
        width: 70%;
        margin-top: 25px;
    }

    .story2{
        margin-top: 50px;
    }

    .story2 img{
        width:100%;
    }

    .business2{
        flex-direction: column;
        align-items: center;
    }

    .description{
        align-items: center;
        width: 90%;
        margin: auto;
    }

    .countries{
        margin-top: 20px;
    }

    .c1{
        width: 500px;
        padding-top: 5px;
    }

    .c1 img{
        width: 190px;
    }

    .btn{
        right: 30px;
    }
}