#container{
    background-color: rgb(252 255 90);
    max-width: 1024px; /*can adjust by itself, diff with width(good for reponsive website)*/
    margin:auto; /*let the container in the center*/
    padding:1%;
}

.top{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
}
.phoneno{
    display: flex;
    width: 30%;
    border-style: dashed;
    height: fit-content;
    margin-top: 5%;
}

h4{
    font-weight: 600;
    font-size: large;
    text-align: center;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    border-style: dashed;
    margin-top: 2%;
}

.menu a{
    color:black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background-color:rgb(114, 114, 211);
    color: yellow;
}

#slideshow{ /*styling the area of the slides*/
    overflow:hidden;
    margin:auto;
    height: 510px;
    max-width: 1024px;
    margin-top: 1%;
}

.slide{
    float:left;
    height:510px;
    width:1024px;
}

.slide-wrapper{
    width:calc(1024px * 4); /*calculate the total width on the basis of number of slides*/
    animation: slide 12s ease infinite; /*specify the animation with the duration and speed*/
}

@keyframes slide { /*define the animation for the slideshow*/
         
    /* Calculate the margin-left for
  each of the slides */
    20% {
        margin-left: 0px;
    }
    40% {
        margin-left: calc(-1024px * 1);
    }
    60% {
        margin-left: calc(-1024px * 2);
    }
    80% {
        margin-left: calc(-1024px * 3);
    }
}

.feat{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.middle{
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.textcont{
    display: flex;
    border-style: dashed;
    width:75%;
}

.sidebar{
    display: flex;
    border-style: dashed;
}

.footer{
    display: flex;
    margin-top: 1%;
    border-style: dashed;
}

p{
    display: flex;
    margin: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .feat{
        flex-direction: column;
    }

    .middle{
        flex-direction: column;
    }

    .textcont{
        flex-direction: column;
    }

    .sidebar{
        flex-direction: column;
        margin-top: 1%;
    }
}