#container {
    font-family: 'Noto Serif SC', serif;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

body {
    margin: auto;
    background-color: #FFFDF8;
}

/* logo */
.logo1 {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 23px;
}

/* menu bar */
.menu1 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 65px;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #6A6A6A;
}

.menu1 .icon {
    display: none;
}

i {
    color: #eee;
}

.menu1 a {
    text-decoration: none;
    color: #54410C;
    padding: 20px 30px;
}

.menu1 a.active {
    /*告诉我们现在在哪里*/
    background-color: #aa4904db;
    color: antiquewhite;
}

.menu1 a:hover {
    color: antiquewhite;
    background-color: burlywood;
}

/* menu2 */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #322707;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: burlywood;
}

.overlay h1 {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.coverimg {
    display: flex;
    height: 450px;
    width: 100%;
    background-image: url("../images/咖啡豆.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    position: fixed;
    right: 70px;
    border: none;
    bottom: 20px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0px;
}

.btn:hover {
    box-shadow: 0 0px 20px 0 #a27e19, 0 0px 9px 0 #ffffff;
}

/* 咖啡豆 */
.coffeebean {
    width: 1110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #000000;
    margin-top: 20px;
    color: #1D1502;
}

.coffeebean img {
    width: 160px;
    height: 157px;
}

.coffeebean h3 {
    width: 350px;
    font-size: 28px;
    text-align: center;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #868686;
}

.coffeebean p {
    width: 60%;
}

/* 咖啡豆的三大种类 */
.threetypes {
    width: 1110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #000000;
    margin-top: 20px;
    color: #1D1502;
}

.threetypes h3 {
    width: 350px;
    font-size: 28px;
    text-align: center;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #868686;
}

.beantext {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 3%;
}

.beantext p {
    width: 47%;
    padding-left: 5%;
}

/* 烘培程度 */
.cookedlevel {
    width: 1110px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #1D1502;
}

.cookedlevel h3 {
    width: 350px;
    font-size: 28px;
    text-align: center;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #868686;
}

.cooked {
    display: flex;
    justify-content: center;
    width: 100%;
}

.level {
    width: 15%;
    margin-top: 0px;
}

.level img {
    width: 120px;
    height: 100px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #322707;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer img {
    margin-top: 20px;
}

.topfooter {
    justify-content: center;
}

.footermenu {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.footermenu a {
    text-decoration: none;
    color: white;
}

.footermenu a:hover {
    color: #a27e19;
}

.contact {
    margin-top: 10px;
}

.contact img {
    width: 40px;
    margin: 5px;
}

.footer1 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/* laptop screen size */
@media screen and (min-width:990px) and (max-width:1199px){
    .coffeebean{
        width: 100%;
    }

    .threetypes{
        width: 100%;
    }

    .cookedlevel{
        width: 100%;
    }
}

@media screen and (min-width: 700px) and (max-width:990px){
    .coffeebean{
        width: 100%;
    }

    .threetypes{
        width: 100%;
    }

    .cookedlevel{
        width: 100%;
    }
}

/* tablet screen size */
@media screen and (max-width: 700px) {
    body p {
        font-size: 110%;
    }
    
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 90px;
    }

    .menu1 {
        flex-direction: column;
    }

    .menu1 a:not(:first-child) {
        display: none;
    }

    .menu1 a.icon {
        display: block;
        position: absolute;
        right: 0;
    }

    .menu1.responsive a {
        display: block;
    }

    .coverimg {
        width: 100%;
        margin: auto;
        margin-top: 10px;
    }

    .coffeebean {
        width: 100%;
    }

    .threetypes {
        width: 100%;
    }

    .beantext{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 10%;
    }

    .beantext p {
        width: 92%;
        padding-right: 5%;
    }

    .beantext img {
        width: 25%;
    }

    .cookedlevel {
        width: 100%;
    }

    .cooked {
        flex-direction: column;
    }

    .level {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .leveltext {
        margin-left: 25px;
    }

    .btn {
        right: 30px;
    }
}