#container {
    font-family: 'Noto Serif SC', serif;
    position: relative;
    max-width: 1400px;
    margin: auto;
}

body {
    margin: auto;
    background-color: #FFFDF8;
}

/* logo */
.logo1 {
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 23px;
}
/* menu bar */
.menu1 {
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 65px;
    border-width: 2px 0px;
    border-style: solid;
    border-color: #6A6A6A;
}

.menu1 .icon {
    display: none;
}

i {
    color: #eee;
}

.menu1 a {
    text-decoration: none;
    color: #54410C;
    padding: 20px 30px;
}

.menu1 a.active {
    /*告诉我们现在在哪里*/
    background-color: #aa4904db;
    color: antiquewhite;
}

.menu1 a:hover {
    color: antiquewhite;
    background-color: burlywood;
}

/* menu2 */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #322707;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: burlywood;
}

.overlay h1 {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* 主题简介 */
.introduction {
    display: flex;
    background-color: #322707;
    color: white;
    align-items: center;
    justify-content: center;
}

.intro1 {
    width: 40%;
}

.intro1 h1{
    font-size: 50px;
}

.intro2 img {
    width: 100%;
}

/* back to top btn */
.btn {
    position: fixed;
    right: 70px;
    border: none;
    bottom: 20px;
    cursor: pointer;
    border-radius: 30px;
    padding: 0px;
}

.btn:hover {
    box-shadow: 0 0px 20px 0 #a27e19, 0 0px 9px 0 #ffffff;
}

/* 著名咖啡店 */
.cafelist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cafe2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
}

.cafe2 img {
    width: 450px;
    height: 450px;
}

.cafeintro {
    width: 30%;
    margin-left: 20px;
}

.cafeintro h1 {
    color: #A17F1F;
    font-size: 70px;
}

.cafeintro a {
    text-decoration: none;
    color: #8c6c15;
}

.cafeintro a:hover {
    color: #392c07;
}

.cafeintro button {
    background-color: antiquewhite;
    padding: 10px 10px;
    border-radius: 15px;
}

/* 必备元素 */
.materials {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 20px;
}

.mat1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.box {
    width: 320px;
}

.box img {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #322707;
    color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer img {
    margin-top: 20px;
}

.topfooter {
    justify-content: center;
}

.footermenu {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.footermenu a{
    text-decoration: none;
    color: white;
}

.footermenu a:hover{
    color: #a27e19;
}

.contact {
    margin-top: 10px;
}

.contact img{
    width: 40px;
    margin: 5px;
}

.footer1 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/* laptop screen size */
@media screen and (min-width:990px) and (max-width:1199px){
    .intro1 h1{
        font-size: 42px;
    }
}

@media screen and (min-width: 700px) and (max-width:990px){
    .intro1{
        width:80%;
        align-items: center;
    }

    .intro1 h1{
        font-size: 42px;
    }

    .introduction{
        flex-direction: column;
        height: 700px;
    }
}

/* tablet screen size */
@media screen and (max-width: 700px) {
    body p {
        font-size: 110%;
    }
    
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 90px;
    }

    .menu1 {
        flex-direction: column;
    }

    .menu1 a:not(:nth-child(4)) {
        display: none;
    }

    .menu1 a.icon {
        display: block;
        position: absolute;
        right: 0;
    }

    .menu1.responsive a {
        display: block;
    }
    
    .btn{
        right: 30px;
    }

    .introduction{
        flex-direction: column;
        height: 500px;
    }

    .intro1{
        width:80%;
        align-items: center;
    }

    .intro1 h1{
        font-size:35px;
    }

    .intro2{
        margin-top: 10%;
    }

    .intro2 img{
        width:100%;
    }

    .cafe2{
        margin-bottom: 30px;
        flex-direction: column;
    }

    .cafeimg img{
        width:250px;
        height: 290px;
    }

    .cafeintro{
        width:75%;
    }

    .cafeintro h1{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 44px;
    }

    .cafeintro h2{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .cafeintro p{
        margin-top: 0px;
    }

    .mat2{
        flex-direction: column;
        align-items: center;
    }

    .box img{
        width:300px;
        height:300px;
    }
}
