body {
    margin: 0;
    font-family: 'Oleo Script', cursive;
    width: 100%;
}
/*Header-Menu*/
.sidenav {
    height: 200%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 198%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,.sidenav a.active {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navb {
    display: flex;
}

.image-col {
    display: flex;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.dessert {
    width: 40%;
}
.image {
    width: 40%;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
#j-img {
    display: none;
    background-color: #FFE5F8;
}
#j-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#f-img {
    display: none;
    background-color: rgba(9, 8, 8, 0.44);
}
#f-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#i-img {
    display: none;
    background-color: #ECD2C0;
}
#i-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#c-img {
    display: none;
    background-color: #A91B2A;
}
#c-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#j-dessert a{
    font-size: 176%;
}
#f-dessert a{
    font-size: 176%;
}
#i-dessert a{
    font-size: 176%;
}
#c-dessert a{
    font-size: 176%;
}

svg { width: 65%; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: white;
}

.logo {
    position: absolute;
    left: 40%;
    top: 1%;
    width: 30%;
}


.mobile .logo {
    position: absolute;
    left: 25%;
    top: 37%;
    width: 50%;
}


.fourcol {
    width: 100%;
    margin: 0;
    position: relative;
}
.country {
    padding: 0;
}

/*Dekstop-overlay*/
.overlayimg-container {
    position: relative;
    width: 25%;
    background: rgb(0, 0, 0);

}
.image {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.overlayimg-container:hover .image {
    opacity: 0.8;
}
.overlayimg-container:hover .middle {
    opacity: 1;
}
.text {
    color: white;
    font-size: 630%;
}

/*Tablet*/
.ttcontainer {
    position: relative;
    width: 25%;
}
.tcontainer .tcontent {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 25%;
    height:100%;
    padding: 20px;
}
.ttext {
    color: white;
    font-size: 350%;
    position: absolute;
    top:45%;
    left:20%;
}
.ttext-1 {
    color: white;
    font-size: 350%;
    position: absolute;
    top:45%;
    left:28%; 
}
.mobile {
    width: 100%;
    position: relative;
}

@media screen and (min-width:1024px) {
    .tablet {
        display: none;
    }
    .mobile {
        display: none;
    }
}
@media screen and (min-width:701px) and (max-width:1024px){
    .mobile {
        display: none;
    }
    .desktop {
        display: none;
    }
}

@media screen and (max-width:700px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }

    .mfourcol {
        width: 100%;
        margin: 0;
    }
    .mfourcol .ttcontainer {
        width: 50%;
    }
    .mfourcol .tcontainer .tcontent {
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 50%;
        height:50%;
        padding: 20px;
    }

    .mfourcol .tcontainer .tcontent-1 {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 50%;
        height:50%;
        padding: 20px;
    }

    .mfourcol .ttext {
        font-size: 200%;
        top:3%;
        left:46%;
    }
    .mfourcol .ttext-1 {
        font-size: 180%;
        top:20%;
        left:43%; 
    }
    .mfourcol .ttext h1, .ttext-1 h1 {
        font-size: 200%;
        margin: 0;
    }

    svg { width: 100%; }


}