@import "stylegeneral.css";

body {
    background-color: #A91B2A;
    font-family: 'Asar', serif;
    color: white !important;
}

/* timeline */
.size li span {
    font-size: 65%;
}

.time-line {
    margin-top: 200px;
    z-index: 9;
}

.icon {
    top: 30%;
}

.icon a {
    text-decoration: none;
    font-size: 110% !important;
}

ul {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

ul::before {
    height: 133%;
    width: 133%;
    display: block;
    position: absolute;
    top: -18%;
    left: 10px;
}

li {
    margin: 18px 0;
    font-weight: bold;
    color: #ef8993;
    overflow: hidden;
}

li::before {
    height: 20px;
    width: 20px;
    content: "";
    display: inline-block;
    background-color: rgba(251, 132, 144, 0.973);
    border-radius: 50%;
    position: relative;
    top: 4px;
    margin-right: 6px;
}

li:hover:before {
    background-color: white;
}

li span {
    position: relative;
    left: -100%;
    transition: left 300ms ease-in;
}

li:hover span {
    left: 0;
}

.scrollspy-example {
    padding-top: 140px;
    padding-left: 90px;
}

/*dragon beard candy*/
.dragonbc {
    background-image: url("../images/c_dragonbc_bgimg.png");
}

/*sugar coated haws*/
.sugarch {
    background-image: url("../images/c_sugarch_bgimg.png");
}

/*yang zhi gao lu*/
.yangzgl {
    background-image: url("../images/c_yangzgl_bgimg.png");
}

#dessert3 {
    position: relative;
    padding-bottom: 15%;
}

#dessert3 .see-more-btn {
    position: absolute;
    top: 56%;
    left: 40%;
    width: 15%;
}

#dessert3 .see-more-btn2 {
    top: 55%;
}

/*2 or 3 dessert*/
.dragonbc,
.sugarch,
.yangzgl {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#dessert1,
#dessert2 {
    position: relative;
    padding-bottom: 10%;
}

#dessert {
    margin-left: 0%;
    margin-right: 0%;
    justify-content: space-between;
}

h1 {
    font-size: 240%;
    color: white;
}

p {
    font-size: 120%;
    color: white;
}

.content1 {
    padding: 0%;
}

.story {
    margin-top: 16px;
    margin-left: 48px;
    text-align: justify;
}

.b-content2 p,
.b-content3 p,
.b-content4 p {
    font-size: 100%;
    margin-left: 50px;
}

.b-content2 p,
.b-content3 p {
    margin-top: 30%;
}

.b-content4 p {
    margin-top: 40%;
}

a {
    font-size: 145%;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

#list-example,
#list-example2,
#list-example3 {
    margin-top: 120%;
}

.list-group {
    --bs-list-group-active-bg: none;
    --bs-list-group-active-border-color: none;
    --bs-list-group-border-color: black;
    --bs-list-group-bg: none;
    --bs-list-group-active-color: none;
    --bs-list-group-disabled-bg: none;
}

.list-group a:hover {
    background-color: rgb(91, 7, 16);
}

#c_dragonbc,
#c_sugarch,
#c_yangzgl {
    padding: 0%;
}

.flag-name {
    margin-left: 10px;
}

.name {
    margin-left: 20px;
}

.phone-dessert-img {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;
}

.see-more-btn {
    position: absolute;
    top: 63%;
    left: 40%;
    width: 15%;
}

.see-more-btn2 {
    position: absolute;
    top: 63%;
    left: 38%;
    width: 20%;
    display: none;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

/*Responsive-Mobile*/
@media screen and (max-width:767px) {

    /*Footer*/
    .footer img {
        bottom: 95%;
        width: 20%;
    }

    .footer .design {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-left: 5%;
    }

    .footer .japan,
    .france,
    .italy,
    .china {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .f-p {
        text-align: center;
        padding-left: 0 !important;
        padding-top: 15%;
    }

    .f-m-change {
        text-align: center;
        padding-left: 24% !important;
        padding-right: 24% !important;
    }

    .f-m-space {
        margin-top: 2%;
    }

    /*Footer-Logo*/
    .footer .flogo {
        bottom: 88%;
        left: 10%;
    }

    svg {
        width: 85%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1264px wide or less)*/
@media screen and (max-width: 1264px) {

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        font-size: 90%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1180px wide or less)*/
@media screen and (max-width: 1180px) {
    .see-more-btn {
        display: none;
    }

    .see-more-btn2 {
        display: block;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1171px wide or less)*/
@media screen and (max-width: 1171px) {

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        font-size: 85%;
    }

    #dessert1 {
        padding-bottom: 15%;
    }

    #dessert2,
    #dessert3 {
        padding-bottom: 20%;
    }

    /*dragon beard candy*/
    .b-content2 p {
        margin-top: 25%;
    }

    #dessert1 .see-more-btn2 {
        top: 63%;
    }

    /*sugar-coated haws*/
    #dessert2 .see-more-btn2 {
        top: 65%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 40%;
    }

    #dessert3 .see-more-btn2 {
        top: 58%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1133px wide or less)*/
@media screen and (max-width: 1133px) {
    h1 {
        font-size: 220%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1055px wide or less)*/
@media screen and (max-width: 1055px) {
    h1 {
        font-size: 220%;
        margin-top: 1%;
    }

    .flag {
        margin-right: 3%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1046px wide or less)*/
@media screen and (max-width: 1046px) {
    h1 {
        font-size: 200%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1028px wide or less)*/
@media screen and (max-width: 1028px) {
    .b-content4 p {
        margin-top: 35%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (1000px wide or less)*/
@media screen and (max-width: 1000px) {

    #dessert1 .see-more-btn2,
    #dessert2 .see-more-btn2 {
        top: 66%;
    }

    #dessert1 .see-more-btn2,
    #dessert2 .see-more-btn2,
    #dessert3 .see-more-btn2 {
        width: 35%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (995px wide or less)*/
@media screen and (max-width: 995px) {
    #dessert2 .see-more-btn2 {
        top: 69%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (960px wide or less)*/
@media screen and (max-width: 960px) {
    h1 {
        font-size: 180%;
    }

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        font-size: 85%;
    }

    .b-content2 p {
        margin-top: 15%;
    }

    #dessert3 {
        padding-bottom: 20%;
    }

    .list-group-item img {
        width: 120%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 35%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (935px wide or less)*/
@media screen and (max-width: 935px) {
    p {
        font-size: 110%;
    }

    #dessert2 .see-more-btn2 {
        top: 65.5%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (883px wide or less)*/
@media screen and (max-width: 884px) {
    h1 {
        font-size: 150%;
        margin-top: 4%;
        margin-left: 2%;
    }

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        font-size: 70%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (879px wide or less)*/
@media screen and (max-width: 879px) {

    /*yang zhi gan lu*/
    #dessert3 {
        padding-bottom: 160px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (860px wide or less)*/
@media screen and (max-width: 860px) {
    p {
        font-size: 100%;
    }

    .b-content4 p {
        margin-top: 30%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (860px wide or less)*/
@media screen and (max-width: 850px) {
    #dessert1 {
        padding-bottom: 130px;
    }

    #dessert1 .see-more-btn2 {
        top: 65%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (806px wide or less)*/
@media screen and (max-width: 806px) {

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        font-size: 65%;
    }

    .b-content2 p {
        margin-top: 13%;
    }

    /*sugar coated haws*/
    .b-content3 p {
        margin-top: 15%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (770px wide or less)*/
@media screen and (max-width: 770px) {
    p {
        font-size: 90%;
    }

    #dessert1,
    #dessert2,
    #dessert3 {
        padding-bottom: 20%;
    }

    #dessert2 .see-more-btn2 {
        top: 65%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (763px wide or less)*/
@media screen and (max-width: 763px) {
    #dessert1 .see-more-btn2 {
        margin-top: 40px;
    }

    #dessert3 {
        padding-bottom: 23%;
    }

    #dessert3 .see-more-btn2 {
        margin-top: 35px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (763px wide or less)*/
@media screen and (max-width: 747px) {
    #dessert3 {
        padding-bottom: 28%;
    }

    #dessert3 .see-more-btn2 {
        margin-top: 40px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (730px wide or less)*/
@media screen and (max-width: 730px) {
    h1 {
        font-size: 140%;
        margin-top: 5%;
    }

    .b-content2 p {
        font-size: 55%;
        margin-top: 10%;
    }

    /*sugar coated haws*/
    .b-content3 p {
        font-size: 55%;
        margin-top: 15%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (700px wide or less)*/
@media screen and (max-width: 700px) {

    #c_dragonbc,
    #c_sugarch,
    #c_yangzgl {
        margin-left: 10px;
    }

    .name {
        margin-left: 30px;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (661px wide or less)*/
@media screen and (max-width: 661px) {
    #dessert2 .see-more-btn2 {
        top: 68%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (650px wide or less)*/
@media screen and (max-width: 650px) {
    .name h1 {
        font-size: 120%;
    }

    #dessert3 .see-more-btn2 {
        top: 60%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (633px wide or less)*/
@media screen and (max-width: 633px) {
    h1 {
        font-size: 120%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (593px wide or less)*/
@media screen and (max-width: 593px) {
    .h-top {
        padding-right: 50px
    }

    .time-line {
        display: none;
    }

    #c_dragonbc,
    #c_sugarch,
    #c_yangzgl {
        margin-left: 0px;
    }

    #main {
        margin-right: 0;
    }

    .scrollspy-example {
        padding-top: 25%;
        padding-left: 0%;
    }

    #dessert {
        display: flex;
        justify-content: center;
    }

    #dessert1,
    #dessert2 {
        display: flex;
        flex-direction: column;
        padding-bottom: 15%;
    }

    #dessert3 {
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
    }

    .flag-name {
        margin: 0%;
        justify-content: center;
    }

    .flag {
        width: 0;
    }

    .name {
        width: 50%;
        padding-left: 0;
    }

    h1 {
        font-size: 150%;
        text-align: center;
    }

    .story {
        margin: 20px;
        text-align: center;
    }

    .product-making .row {
        margin-right: 0%;
    }

    .product-img {
        margin-right: 0;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: 90%;
        margin: 0px 20px;
        margin-left: 0;
    }

    .desktop-dessert-img {
        display: none;
    }

    .phone-dessert-img {
        display: block;
    }

    #dessert1 .see-more-btn2,
    #dessert2 .see-more-btn2,
    #dessert3 .see-more-btn2 {
        width: 50%;
    }

    #dessert1 .see-more-btn2,
    #dessert2 .see-more-btn2 {
        top: 75%;
    }

    #dessert3 .see-more-btn2 {
        top: 75%;
    }

    /*sugar coated haws*/
    .b-content3 p {
        margin-top: 15%;
    }

    /*yang zhi gao lu*/
    .b-content4 p {
        margin-top: 20%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (500px wide or less)*/
@media screen and (max-width: 500px) {
    .h-top {
        padding-right: 45px
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (414px wide or less)*/
@media screen and (max-width: 414px) {

    .b-content2 p,
    .b-content3 p,
    .b-content4 p {
        margin-left: 30%;
    }

    .b-content2 p {
        margin-top: 25%;
    }

    .content1 {
        padding-right: 20px;
    }

    .product-making .row {
        margin: 0%;
    }

    .b-content3 p {
        margin-top: 35%;
    }

    .flag-name {
        display: flex;
        flex-direction: column;
    }

    .flag {
        width: 100%;
    }

    .name {
        width: 85%;
    }

    .see-more-btn2 {
        width: 50%;
        left: 40%;
    }

    .phone-dessert-img {
        padding-right: 25px;
    }

    .h-top {
        padding-right: 35px
    }
}