@import "stylegeneral.css";

body {
    margin: 0;
    background-color: #FFF8F4;
    font-family: 'Asar', serif;
}



/*Middle Content*/
.intro {
    margin-top: 5%;
}


/*SideBar*/
.sidemenu a{
    text-decoration: none;
    font-size: 110% !important;
    color: rgb(133, 107, 85);
}
.sidemenu a:hover{
    text-decoration: none;
    font-size: 110% !important;
    color: rgb(133, 107, 85);
}

.intro ul {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.intro ul::before {
    height: 133%;
    width: 133%;
    display: block;
    position: absolute;
    top: -18%;
    left: 10px;
}

.intro li {
    margin: 18px 0;
    font-weight: bold;
    overflow: hidden;
}

.intro li::before {
    height: 20px;
    width: 20px;
    content: "";
    display: inline-block;
    background-color: rgb(146, 119, 96);
    border-radius: 50%;
    position: relative;
    top: 4px;
    margin-right: 6px;
}

.intro li span {
    position: relative;
    left: -100%;
    transition: left 300ms ease-in;
}

.intro li:hover span {
    left: 0;
}
.sidemenu {
    margin-top: 13%;
    z-index: 9;
    position: fixed;
    width: 20%;
    left: 5%;
    display: flex;
    justify-content: start;

}
/*Left-Content*/
.title {
    background-image: url("../images/i_line.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50%;
    padding-bottom: 10%;
}
.title img {
    width: 12%;
}
h2 {
    font-size: 240%;
}
p {
    font-size: 120%;
}
.chefimage1 img {
    width: 150px;
    justify-content: start;
}
.chefimage img {
    width: 150px;
    height: 70%;
    justify-content: start;
}
.cheftext {
    padding-left: 15%;
}
.cheftext-1 {
    padding-left: 15%;
}
/*Button-SeeMore*/
.details a {
    display: flex;
    justify-content: end;
    font-size: 145%;
    text-decoration: none;
    color: black;
}
/*Text-Decorate*/
.text1 img{
    width: 125%;   
}
/*Right-BigImage*/
.big1 a {
    font-size: 145%;
    text-decoration: none;
    color: black;
}
.big1 img {
    width: 100%;
}
.big1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Responsive-Laptop*/
@media screen and (min-width:1200px) and (max-width:1399px) {

    .chefimage1 img {
        height: 90%;
    }
    .chefimage img {
        height: 68%;
    }
    .cheftext, .cheftext-1 {
        padding-left: 8%;
    }
}

/*Responsive-Laptop*/
@media screen and (min-width:991px) and (max-width:1199px) {

    /*Middle Content*/
    .intro {
        margin-top: 8%;
    }

    /*Left-Content*/
    .bigbox {
        margin-left: 8%;
    }
    .title {
        background-size: 70%;
    }
    .title img {
        width:52px;
        height: 2%;
    }
    .chefimage1 img {
        height: 60%;
    }
    .chefimage img {
        height: 45%;
    }
    .cheftext, .cheftext-1{
        padding-left: 8%;
    }


}

/*Responsive-Tablet*/
@media screen and (min-width:768px) and (max-width:990px) {

    /*Middle Content*/

    /*SideBar*/
    .sidemenu {
        left: 8%;
        margin-top: 20%;
    }
    /*Left-Content*/
    .bigbox {
        margin-left: 10%;
    }
    .title {
        background-size: 110%;
        background-position: bottom;
        padding-bottom: 13%;
    }
    .title img {
        width: 50px;
        height: 11%;
    }
    .chef {
        flex-direction: column;
    }
    .chefimage, .chefimage1 {
        justify-content: center;
    }
    .chefimage1 img {
        width: 60%;
        margin-right: 0;
    }
    .chefimage img {
        width: 65%;
    }
    .cheftext, .cheftext-1{
        margin-top: 10%;
    }
    /*Right-BigImage*/
    .big1 img {
        width: 158%;
    }
}

@media screen and (min-width:768px) {
    /*Right-BigImage-Button*/
    .big1 a {
        display: none;
    }
}

/*Responsive-Mobile*/
@media screen and (max-width:768px) {

    /*Middle Content*/
    .intro {
        margin-top: 22%;
    }
    /*SideBar*/
    .intro .sidemenu {
        display: none;
    }
    /*Left-Content*/
    .title {
        background-size: 70%;
        background-position: center bottom;
        padding-bottom: 10%;
        display:flex;
        justify-content: center;
    }
    .title img {
        width:48px;
        height: 11%;
    }
    .content {
        text-align: center;
    }
    .chef {
        flex-direction: column;
    }
    .chefimage, .chefimage1 {
        justify-content: center;
    }
    .chefimage1 img {
        width: 45%;
        margin-right: 0;
    }
    .chefimage img {
        width: 52%;
    }
    .cheftext, .cheftext-1 {
        margin-top: 10%;
        padding-left: 0;
    }
    /*Button-SeeMore*/
    .details a {
        display: none;
    }
    /*Text-Decorate*/
    .text1 img{
        width: 100%;
    }
    /*Right-BigImage*/
    .big1 img {
        width: 70%;
        margin-left: 12%;
    }
}
