@import "stylegeneral.css";

body {
    margin: 0;
    background-color: #FFF8F4;
}

p {
    font-size: 120%;
    font-weight: 500;
}

.story,
.receipe,
.dslide,
.restau, .pagebuuton {
    font-family: 'Piazzolla', serif;
}

.story, .receipe, .restau {
    width: 75% !important;
    margin: auto;
}

/*Story-Part*/
.bigb {
    margin-top: 5%;
    background-image: url("../images/i_frame-top.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 21%;
}

.story {
    width: 100%;
}

.storyc {
    padding: 5%;
    padding-top: 0;
}

.storyimg img {
    width: 45%;
    border-radius: 25px;
    margin-top: 6%;
}

.story .title {
    margin-top: 3%;
    margin-bottom: 2%;
}

.story .title img {
    width: 7%;
}

.story h2 {
    font-size: 240%;
    font-weight: 600;
    font-style: italic;
}


/*Receipe-Part*/
.receipebigbox {
    background-image: url("../images/i_frame-bottom.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 21%;
    padding-bottom: 5%;
}

.receipe h2 {
    font-size: 200%;
    font-weight: 600;
    font-style: italic;
    padding-left: 3%;
}
.receipe h3 {
    font-size: 200%;
    font-weight: 600;
    font-style: italic;
}

/*Ingredient-Top*/
.ingretop {
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
}

.ingretop img {
    width: 40%;
    height: 30%;
}

.ingrec {
    margin-left: 5%;
    margin-top: 3%;
}

.ingretop .title img {
    width: 13%;
}
.receipe .ingretop h3 {
    margin-top: 5%;
}
.ingretop ul li {
    margin-top: 3%;
    font-size: 120%;
    font-weight: 500;
}

/*Ingredient-Bottom*/
.ingrebottom {
    padding-left: 5%;
    margin-top: 2%;
}

.ingrebottom .title img {
    width: 7%;
}
.ingrebottom .fruittitle img {
    width: 6%;
    margin-left: 2%;
}
.doughtitle, .panetitle {
    margin-top: 5%;
}
.ingrebottom .doughtitle img, .ingrebottom .panetitle img {
    width: 5%;
    margin-left: 2%;
}


.ingrebottom .title h2 {
    padding-left: 0;
}

/*Ingredient-Bottom-Accordion*/
.accordion-button {
    background-color: #CDB7AB !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    font-size: 70% !important;
}

.accordion-body {
    font-size: 120%;
    font-weight: 500;
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.accordion-body img {
    width: 40%;
    margin-top: 2%;
    margin-right: 5%;
    object-fit: cover;
}
.accordion-body p {
    width: 45%;
    margin-top: 2% !important;
}

.accordion {
    --bs-accordion-bg: #e6cec1 !important;
    --bs-accordion-active-color: #000000 !important;
    --bs-accordion-active-bg: none !important;
}

.accordion-item h2 {
    padding-left: 0 !important;
}

.receipe p {
    margin-top: 4%;
}

/*SlideShow*/
.dslide {
    margin-top: 5%;
    width: 100%;
}

.dslide img{
    object-fit: cover;
    width: 24.8%;
}
.dslide .carousel-inner > .carousel-item {
    transition: transform 15s linear !important;
}


/*Restaurant*/
.restau {
    margin-top: 5%;
    margin-bottom: 3%;
}
.restitle {
    background-image: url("../images/i_line.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    
}
.restitle h2 {
    font-size: 200%;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 15%;
}
/*Restaurant-Card*/
.rescard {
    background-color: rgba(205, 136, 86, 0.65);
    padding:3%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}
.resimg {
    width: 60%;
}
.resimg img{
    width: 80%;
}
.resname {
    margin-bottom: 5%;
    width: 100%;
}
.resname img {
    width: 58px;
}
.resname h4 {
    font-weight: 500;
    padding-left: 3%;
    font-size: 180%;
}
/*Restaurant-Details*/
.resdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resdetails p, a {
    font-weight: 500;
    padding-left: 3%;
    font-size: 120%;
}
.resdetails a, .resdetailscut a {
    text-decoration: none;
    color: #000000;
}
.resloc, .restime, .restel, .resweb {
    margin-top: 2%;
    width: 100%;
}
.resloc img {
    width: 30px;
    margin-right: 3%;
}
.restime img {
    width: 30px;
    margin-right: 4%;
}
.restel img {
    width: 35px;
    margin-right: 2%;
}
.resweb img {
    width: 34px;
    margin-right: 4%;
}
/*Restaurant-Collapse Details*/
.resdetailscut {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.resdetailscut .resname {
    justify-content: center;
}
.btn-primary {
    background-color: #FFEC87 !important;
    color: #000000 !important;
    border-color: #FFEC87 !important;
    font-weight: 500 !important;
    font-size: 105% !important;
}
.resdetailscut .resloc img {
    width: 35px;
    margin-right: 4%;
}
.resdetailscut .restime img {
    width: 35px;
    margin-right: 7%;
}
.resdetailscut .restel img {
    width: 40px;
    margin-right: 2%;
}
.resdetailscut .resweb img {
    width: 37px;
    margin-right: 4%;
}
.resslide .carousel-indicators {
    bottom: 3%;
}


/*PageButton*/
.pagebutton {
    margin-top: 5%;
    margin-bottom: 13%;
}
.pagebutton button {
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.pagebutton a {
    text-decoration: none;
    color: #000000;
}

.pagebutton a h1 {
    font-size: 150%;
}

.pagebutton a:hover {
    animation-name: vertical-shaking; animation-iteration-count: infinite;
    animation-duration: 1s;
    display: inline-block;
    color: rgb(211, 6, 6);
}
  
/* coolVerticalShake animation keyframes */
@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(8px) }
    50% { transform: translateY(-8px) }
    75% { transform: translateY(8px) }
    100% { transform: translateY(0) }
}






/*Responsive-Laptop*/
@media screen and (min-width:991px) and (max-width:1199px) {

    /*Ingredient-Top*/
    .ingretop img {
        width: 50%;
        height: 40%;
    }

    /*Ingredient-Bottom*/
    .accordion-body img {
        width: 40%;
    }

    /*SlideShow*/
    .dslide img{
        width: 24.73%;
    }

    /*Restaurant-Card*/
    .resimg img{
        width: 100%;
    }
    .resdetails {
        padding-left: 5%;
        padding-right: 5%;
    }
    .resname img {
        width: 13%;
    }
}

@media screen and (min-width:991px) {
    .resslide {
        display: none;
    }
}

/*Responsive-Tablet*/
@media screen and (min-width:768px) and (max-width:990px) {

    /*Story-Part*/
    .bigb {
        margin-top: 10%;
        background-size: 30%;
    }

    .storyimg img {
        width: 65%;
        margin-top: 10%;
    }

    .storyc {
        padding-top: 3%;
    }

    .story .title {
        margin-bottom: 3%;
    }

    .story .title img {
        width: 10%;
    }

    /*Receipe*/
    .receipebigbox {
        background-size: 30%;
        padding-bottom: 8%;
    }
    .receipe h3 {
        font-size: 180%;
    }

    /*Ingredient-Top*/
    .ingretop img {
        width: 55%;
    }

    .ingretop .title img {
        width: 20%;
    }

    /*Ingredient-Bottom*/
    .ingrebottom .title img {
        width: 11%;
    }
    .ingrebottom .fruittitle img {
        width: 10%;
        margin-left: 2%;
    }
    .ingrebottom .doughtitle img, .ingrebottom .panetitle img {
        width: 9%;
        margin-left: 2%;
    }

    .accordion-body img {
        width: 50%;
        height: 50%;
    }
    .accordion-body p {
        width: 50%;
        font-size: 120%;
    }
    .receipe p {
        margin-top: 7%;
    }

    /*SlideShow*/
    .dslide img{
        width: 24.65%;
    }

    /*Restaurant-Card*/
    .restau {
        margin-bottom: 5%;
    }
    .resslide .rescard {
        flex-direction: column;
        align-items: center;
    }
    .resslide .resname {
        width: 115%;
    }
    .resslide .resimg {
        width: 80%;
    }
    .resslide .resimg img{
        width: 100%;
    }
    .normalcard {
        display: none;
    }

    
    /*PageButton*/
    .pagebutton {
        margin-top: 10%;
        margin-bottom: 20%;
    }

}

@media screen and (max-width:768px) {

    .story, .receipe, .restau {
        width: 90% !important;
    }

    /*Story-Part*/
    .bigb {
        margin-top: 18%;
        background-size: 45%;
    }

    .storyimg img {
        width: 70%;
        margin-top: 13%;
    }

    .storyc {
        padding: 8%;
        padding-top: 5%;
    }

    .story .title {
        margin-bottom: 3%;
    }

    .story .title img {
        width: 26%;
    }

    /*Receipe*/
    .receipebigbox {
        background-size: 45%;
        padding-bottom: 20%;
    }
    .receipe h3 {
        font-size: 180%;
    }
    /*Ingredient-Top*/
    .ingretop {
        display: flex;
        padding-left: 5%;
        flex-direction: column;
        align-items: center;
    }

    .ingrec {
        padding-right: 8%;
    }

    .ingretop img {
        width: 70%;
    }

    .ingretop .title img {
        width: 20%;
    }

    /*Ingredient-Bottom*/
    .ingrebottom .title img {
        width: 15%;
    }
    .ingrebottom .fruittitle img {
        width: 15%;
        margin-left: 2%;
    }
    .ingrebottom .doughtitle img, .ingrebottom .panetitle img {
        width: 13%;
        margin-left: 2%;
    }
    .ingrebottom .accordion-body  {
        flex-direction: column-reverse;
        justify-content: flex-start !important;
    }
    .ingrebottom .accordion-body img {
        width: 100%;
    }
    .ingrebottom .accordion-body p {
        width: 100%;
        font-size: 120%;
        padding-left: 0 !important;
    }

    .receipe p {
        padding: 5%;
        padding-left: 10%;
    }

    /*Image-Slider*/
    .dslide {
        display: none;
    }

    /*Restaurant-Card*/
    .restau {
        margin-bottom: 10%;
    }
    .resslide .rescard {
        flex-direction: column;
        align-items: center;
    }
    .resslide .resimg {
        width: 90%;
    }
    .resslide .resimg img{
        width: 100%;
    }
    .resslide .resname {
        width:104%;
    }
    .resslide .resname img {
        width: 13%;
    }
    .normalcard {
        display: none;
    }
    .collapse {
        margin-left: 1% !important;
    }
    .resslide .resdetailscut p, a {
        font-weight: 500;
        font-size: 105%;
    }
    .resdetailscut .resloc img {
        width: 26px;
    }
    .resdetailscut .restime img {
        width: 26px;
    }
    .resdetailscut .restel img {
        width: 32px;
    }
    .resdetailscut .resfb img {
        width: 22px;
    }
    .resdetailscut .resweb img {
        width: 29px;
    }

    
    /*PageButton*/
    .pagebutton {
        margin-top: 10%;
        margin-bottom: 50%;
    }
    .pagebutton h1 {
        font-size: 180%;
    }

}