@import "stylegeneral.css";

html, body, .desktop, .tablet, .mobile{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Oleo Script', cursive !important;
    width: 100%;
}

/*Logo*/
svg { width: 65%; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: white;
}

.logo {
    position: absolute;
    left: 40%;
    top: 1%;
    width: 30%;
}


.mobile .logo {
    position: absolute;
    left: 25%;
    top: 37%;
    width: 50%;
}

/*General column and background-img*/
.fourcol {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.country {
    padding: 0;
}
.japan {
    background: rgba(0, 0, 0, 0.3) url("../images/japanfuji.jpg");
    background-size: cover;
}
.france {
    background: rgba(0, 0, 0, 0.3) url("../images/franceparis.jpeg");
    background-size: cover;
}
.italy {
    background: rgba(0, 0, 0, 0.3) url("../images/italyvenice.jpg");
    background-size: cover;
}
.china {
    background: rgba(0, 0, 0, 0.3) url("../images/chinagugong.jpeg");
    background-size: cover;
}

/*Submenu*/
.submenu {
    width :30%;
    position: absolute;
    bottom: 1%;
    right: 5%;
    height: 28%;
    object-fit: cover;
}
.submenu img {
    width:100%;
}
.country button {
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.popover-header {
    background-color: rgb(249, 179, 93) !important;
    font-size: 150%;
}
.popover-body {
    padding: 5% !important;
    padding-bottom: 0 !important;
}
.popover-body a {
    text-decoration: none;
    color: #000000;
    font-size: 120%;
}
.popover-body a:hover {
    color: rgb(77, 168, 201) !important;
}

/*Dekstop-overlay*/
.overlayimg-container {
    position: relative;
    width: 25%;
}
.image {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.overlayimg-container:hover {
    background-blend-mode : darken
}
.overlayimg-container:hover .middle {
    opacity: 1;
}
.text {
    color: white;
    font-size: 630%;
}

/*Tablet*/
.ttcontainer {
    position: relative;
    width: 25%;
}
.ttcontainer .tcontent {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height:100%;
    padding: 20px;
}
.ttext {
    color: white;
    font-size: 350%;
    position: absolute;
    top:45%;
    left:17.5%;
}

.tablet .japan, .france, .italy, .china {
    background-position: center;
}
.mobile .japan, .france, .italy, .china {
    background-position: center;
}
.mobile {
    width: 100%;
    position: relative;
}

@media screen and (min-width:1024px) {
    .tablet {
        display: none;
    }
    .mobile {
        display: none;
    }
}
@media screen and (min-width:701px) and (max-width:1024px){
    .mobile {
        display: none;
    }
    .desktop {
        display: none;
    }
    .submenu {
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }

    .mfourcol {
        width: 100%;
        height: 50%;
        margin: 0;
    }
    .mfourcol .tcontainer {
        position: relative;
        width: 50%;
    }
    .mfourcol .tcontainer .tcontent {
        position: absolute;
        top: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        height:100%;
        padding: 20px;
    }

    .mfourcol .tcontainer .tcontent-1 {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        height:100%;
        padding: 20px;
    }
    .mfourcol .ttext-1 {
        color: white;
        font-size: 180%;
        position: absolute;
        top:40%;
        left:23%; 
    }
    .mfourcol .ttext-1 h1 {
        font-size: 150%;
        margin: 0;
    }

    .japan .submenu, .italy .submenu {
        right: 50%;
        width: 45%;
    } 

    .france .submenu, .china .submenu {
        width: 45%;
    } 
    svg { width: 100%; }


}