body {
    font-family: 'Asar', serif !important;
}

/*Header*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 198%;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,.sidenav a.active {
    color: #f1f1f1 !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navb {
    display: flex;
    height: 100%;
}

.navbar svg {
    width: 200px;
}
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: rgb(244, 173, 41);
}

.image-col {
    display: flex;
    height: 50%;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.menu-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    overflow:scroll;
}
.dessert {
    width: 40%;
}
.image {
    width: 50%;
}

#main {
    font-size: 200%;
    transition: margin-left .5s;
    padding: 16px;
    padding-top: 50px;
}
#main span {
    position: static;
}

#j-img {
    display: none;
    background-color: #111;
}
#j-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#f-img {
    display: none;
    background-color: #111;
}
#f-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#i-img {
    display: none;
    background-color: #111;
}
#i-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#c-img {
    display: none;
    background-color: #111;
}
#c-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
#j-dessert a{
    font-size: 176%;
}
#j-dessert a:hover{
    color: pink !important;
}
#f-dessert a{
    font-size: 176%;
}
#f-dessert a:hover{
    color: rgb(212, 113, 77) !important;
}
#i-dessert a{
    font-size: 176%;
}
#i-dessert a:hover{
    color: beige !important;
}
#c-dessert a{
    font-size: 176%;
}
#c-dessert a:hover{
    color:#FE0304 !important;
}

span {
    position: absolute;
    left: 50%;
    transform-origin: 0 100px;
}

.h-top {
    position: fixed;
    height: 65px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start !important;
}

.h-top2 {
    top: -10px;
    left: -1px;
    padding-left: 0 !important;
}

.sub-menu a{
    font-size: 110% !important;
    padding: 0;
}

.sub-menu {
    color: #bababa;
}


/*Footer*/
.footer {
    background-color: #4C4751;
    position: relative;
    padding-top: 5%;
}

.footer a {
    background: linear-gradient(0deg, white, white) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}


.footer a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.underline {
    padding-bottom: 2px;
    --bg-h: 2px !important;
}

.f-title-font h4{
    font-size: 150%;
}

.footer a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    font-size: 108% !important;
    line-height: 155%;
    padding-left: 0%;
}

.footer a:hover {
    color: white;
}
/*Footer-Logo*/
.footer svg { width: 315px; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: rgb(244, 173, 41);
}
.footer .flogo{
    position: absolute;
    bottom: 62%;
    width: 90%;
    left: 5%;
}
.footer .noHover a{
    background: linear-gradient(0deg, 0deg, 0deg) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

/*Button-Animation*/
.wrapper{
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

.f-p {
    padding-left: 9% !important;
    padding-right: 2% !important;
}

.f-p-end {
    padding-right: 8% !important;
}


.navbar2 {
    display: none !important;
}


/*Responsive-Mobile*/
@media screen and (max-width:767px) {
    /*Header*/
    .navbar-brand {
        width: 60%;
    }
    .navbar svg {
        width: 130px;
    }
    #main {
        font-size: 180%;
    }

    /*Footer*/
    .footer img{
        bottom: 95%;
        width: 20%;
    }
    .footer {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-left: 5%;
    }
    .footer .japan, .france, .italy, .china {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .f-p {
        text-align: center;
        padding-left: 0 !important;
        padding-top: 15%;
    }
    .f-m-change {
        text-align: center;
        padding-left: 24% !important;
        padding-right: 24% !important;
    }
    .f-m-space {
        margin-top: 2%;
    }

    /*Footer-Logo*/
    .footer .flogo{
        bottom: 86%;
        left: 5%;
    }
    .footer svg { width: 294px; }
    
    .navbar2 {
        display: block !important;
    }
    .navbar1 {
        display: none !important;
    }
}