body,
a {
    font-family: 'Asar', serif !important;
    font-size: 120% !important;
    font-weight: 400 !important;
    color: white !important;
}

.containerb {
    background-color: rgba(64, 46, 24, 1);
    background-image: url("../image/topborder.png");
    background-position: top;
    background-position-y: 0.5%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*header */
.sidenav {
    height: 200%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 198%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,.sidenav a.active {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navb {
    display: flex;
}

.navbar svg {
    width: 50%;
}

.image-col {
    display: flex;
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
.dessert {
    width: 40%;
}
.image {
    width: 40%;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
#main span {
    position: static;
}

#j-img {
    display: none;
    background-color: #111;
}
#j-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#f-img {
    display: none;
    background-color: #111;
}
#f-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#i-img {
    display: none;
    background-color: #111;
}
#i-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#c-img {
    display: none;
    background-color: #111;
}
#c-dessert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#j-dessert a{
    font-size: 176%;
}
#j-dessert a:hover{
    color: pink;
}
#f-dessert a{
    font-size: 176%;
}
#f-dessert a:hover{
    color: rgb(212, 113, 77);
}
#i-dessert a{
    font-size: 176%;
}
#i-dessert a:hover{
    color: beige;
}
#c-dessert a{
    font-size: 176%;
}
#c-dessert a:hover{
    color:#FE0304;
}

.sidemenu {
    width: 20px;
    z-index: 10;
}

.sidemenu a{
    margin-top: 2%;
    text-align: center;
}


@keyframes rotateText {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

span {
    position: absolute;
    left: 50%;
    transform-origin: 0 100px;
}

#box1 {
    background-image: url("../image/f-Mousse-bgck.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-bottom: 15%;
}

.f-country-title {
    font-size: 240%;
}

.f-d-p p {
    padding-left: 8%;
    padding-right: 8%;
}

.f-d-p h3 {
    padding-left: 8%;
    padding-right: 4%;
    text-decoration: underline;
}

#f-country-smallp {
    padding-left: 50%;
    font-size: 78%;
}

.p-img {
    display: none;
}

/* btn - See More */
.btn a {
    font-size: 145% !important;
    text-decoration: none !important;
}

.wrapper {
    animation: slide1 1s ease-in-out infinite;
    margin-left: 9px;

}

.lastbtn {
    display: none !important;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

#f-d1-text {
    padding-left: 9%;
}
#f-d2-text {
    padding-left: 9%;
}
#f-d3-text {
    padding-left: 9%;
}

#box2 {
    background-image: url("../image/f-napoleon-bgck.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-bottom: 15%;
}

.f-d2 p span {
    position: static;
}

.f-d2 p {
    color: rgba(255, 255, 255, 0.79);
}

.p-d2-text {
    display: none;
}

#box3 {
    background-image: url("../image/f-paris-brest-bgck.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-bottom: 15%;
}

/* footer */
.footer {
    background-color: #4C4751;
    position: relative;
    padding-top: 5%;
}

.footer img {
    position: absolute;
    bottom: 85%;
    width: 8%;
}

.footer .design {
    padding-left: 10%;
}

.footer a {
    background: linear-gradient(0deg, white, white) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

.footer a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.underline {
    padding-bottom: 2px;
    --bg-h: 2px !important;
}

.f-title-font h4{
    font-size: 150%;
}

.footer a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    font-size: 108% !important;
    line-height: 155%;
}

.f-p {
    padding-left: 9% !important;
    padding-right: 2% !important;
}

.f-p-end {
    padding-right: 8% !important;
}

/*Footer-Logo*/
svg { width: 100%; }
rect { fill: #FE0304; }
text { 
  font-size: 40px;
	font-weight: 100; 
	text-transform: uppercase;
	letter-spacing: 0px;
	fill: #FFF8F4;
}
.footer .flogo{
    position: absolute;
    bottom: 65%;
    width: 90%;
    left: 5%;
}
.footer .noHover a{
    background: linear-gradient(0deg, 0deg, 0deg) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}

/*Responsive-Mobile*/
@media screen and (max-width:767px) {

    /*Footer*/
    .footer {
        padding-top: 7%;
        padding-bottom: 5%;
        padding-left: 5%;
    }

    .footer .japan,
    .france,
    .italy,
    .china {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .f-p {
        text-align: center;
        padding-left: 0 !important;
    }
    .f-m-change {
        text-align: center;
        padding-left: 24% !important;
        padding-right: 24% !important;
    }
    .f-m-space {
        margin-top: 2%;
    }

    /*Footer-Logo*/
    .footer .flogo{
        bottom: 88%;
        left: 10%;
    }
    .footer svg { width: 85%; }
    .navbar-brand {
        width: 60%;
    }
}

@media screen and (max-width:669px) {
    .containerb {
        background-image: none;
    }

    #f-d1 {
        display: none;
    }

    #f-d1-text {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #extra {
        display: none !important;
    }

    #fp-nav {
        display: none;
    }

    .p-img {
        display: block;
    }

    .firstbtn {
        display: none !important;
    }

    .lastbtn {
        display: block !important;
        right: 15px;
    }

    #f-d2 {
        display: none;
    }

    .box2-text {
        flex-direction: column;
    }

    #f-d2-text {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .p-d2-text {
        display: block;
    }

    .d-d2-text {
        display: none;
    }

    #f-d3 {
        display: none;
    }

    #f-d3-text {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .sidemenu {
        display: none;
    }
    #box3 {
        padding-bottom: 32%;
    }
}